<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">AICT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Sabir Khan <p>
    <p>Manager CSD</p>
   <p>Cell:- +92 345 2005409</p>
   
   <br>
   
   <p>Muhammad Aslam</p>
   <p>Manifest & Document Officer</p>
   <p>Cell: +92 345 2005467</p>
   <p>muhammad.aslam@aictpk.com</p>
   
   <br>
   <p>Maria Arif</p>
   <p>Line Coordinator</p>
   <p>Cell: +92 345 2005307</p>
   <p>alerts@aictpk.com</p>
   
   <br>
   <h2>Senior Contact Details</h2>
   <p>Hussain Islam</p>
   <p>Chief Executive Officer</p>
   
   <br>
   <p>Qamar ul Haq</p>
   <p>Chief Financial Officer</p>
   <p>qamar.ulhaq@aictpk.com</p>
   <br>
   
   <p>Cyrus Kanga</p>
   <p>Executive Director Projects</p>
   <p>cyrus.kanga@aictpk.com</p>
   <br>
   <p>Col. Shahzada Farrukh</p>
   <p>Executive Director</p>
   <p>shahzada.farrukh@aictpk.com</p>
</ion-content>
