<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">NLCT</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<h2>Headquarters NLC</h2>
<p>National Logistics Cell Kashmir Road,</p>
<p>Near R.A Bazar, Rawalpindi Pakistan.</p>
<p>Tel: +92 (51) 111 652-000</p>
<p>Email: info@nlc.com.pk</p>
<p>Rawalpindi, PK</p>

<br>
<h2>HQ DryPorts</h2>
<p>Head Office Dry Ports & Border Terminals Thokar Niaz Baig, Lahore Pakistan.</p>
<p>Tel: +92 (51) 111 652-000</p>
<p>Email: ho.dp@nlc.com.pk</p>
<p>Lahore, PK</p>

<br>

<h2>HQ O&M Tolling</h2>
<p>Tolling Head Office</p>
<p>Sowan Camp, Rawalpindi Pakistan.</p>
<p>Tel: +92 (51) 111 652-000</p>
<p>Email: ho.tolling@nlc.com.pk</p>
<p>Rawalpindi, PK</p>

<br>

<h2>HQ Freight</h2>
<p>Head Office Freight Services</p>
<p>Sultanabad, Karachi Pakistan.</p>
<p>Tel: +92 (51) 111-652-000</p>
<p>Email: ho.fs@nlc.com.pk</p>
<p>Karachi, Pakistan</p>

<br>

<h2>HQ Engineers</h2>
<p>Engineers Head Office</p>
<p>Sowan Camp, Rawalpindi Pakistan.</p>
<p>Tel: +92 (51) 111-652-000</p>
<p>Email: ho.engrs@nlc.com.pk</p>
<p>Rawalpindi, Pakistan</p>

<br>

<h2>HQ NEFT</h2>
<p>NEFT Head Office</p>
<p>Sowan Camp, Rawalpindi Pakistan.</p>
<p>Tel: +92 (51) 111 652-000</p>
<p>Email: ho.neft@nlc.com.pk</p>
<p>Rawalpindi, PK</p>
</ion-content>
