# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
src/assets/Payment Status Sheet-2020.xlsx
src/assets/RequestDetails.xlsx
src/assets/fund change_0001.pdf
src/assets/Ticket_Creation.zip
src/assets/All Pending Revival Cases 05-05-2020 Javed (1) (1).xlsx
src/assets/All Pending Revival Cases 05-05-2020 Javed (1).xlsx
src/assets/All Pending Revival Cases 05-05-2020 Javed.xlsx
