 div:nth-child(even) 
{
    background-color: lightgrey;
    width: 100%;
}
div:nth-child(odd)
 {
     background-color: grey;
     width: 100%;
    }

ion-item {
  background-color: lightgrey;
}

.new-background-color{
  --background: navy;
}

ion-input {
  background-color: white;
}

    ion-content {
        --background: url('../../assets/bgimage3.jpeg')  fixed ;
        top: 0; 
        left: 0; 
	
  /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    
      }