<ion-header [translucent]="true" style="background-color: yellowgreen;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-bottom: 18px; margin-top: 20px; background-color: lightgrey;">
    <ion-label  position="stacked">POL: </ion-label>
    <ion-input [(ngModel)]="term" (keyup)="toggle()" placeholder="Search POL" name = "pol"></ion-input>
    <div  (click)=edit(data?.name) *ngFor="let data of data?.pols| filter:term">
    <p *ngIf="show === true">
      {{data.name}}
    </p> 
  </div>
</div>
  <div style="margin-bottom: 18px; margin-top: 20px; background-color: lightgrey;">
    <ion-label  position="stacked">POD: </ion-label>
    <ion-input (keyup)="toggle1()" placeholder="Search POD" [(ngModel)]="term1" name = "pod"></ion-input>
    <div (click)=edit1(data?.name) *ngFor="let data of data?.pods| filter:term1">
    <p *ngIf="show1 === true">
        {{data.name}} 
      </p>
    </div>
  </div>
  
  <div (click)="getContainerRates()">
  <ion-button #populateData  expand="full" type="submit">Search Container Rates</ion-button>

  
</div>
</ion-content>
