 div:nth-child(even) 
{
    background-color: lightgrey;
    width: 100%;
}
div:nth-child(odd)
 {
     background-color: grey;
     width: 100%;
    }



.new-background-color{
  --background: navy;
}



  ion-input {
    background-color: white;
    border: grey 2px solid;
}



