table{
    background-color: green($color: #000000);
    width: 100%;
}


  
thead.innerHTML {
    background-color: red;
}
 
  .new-background-color{
    --background: navy;
}

thead {
    text-align: center;
        vertical-align: middle;
        line-height: 3em;
}

.rtHeader.rtHeaderCurr{
    background-color: white;
}
.rtHeader.rtHeaderValues {
background-color: white;
}
a{
    color: navy;
}

tr:nth-child(even) 
{
    background-color: white;
    width: 100%;
}
tr:nth-child(odd)
 {
     background-color: lightgrey;
     width: 100%;
    }

    tr>td {
        padding-bottom: 1em;
        text-align: center;
        vertical-align: middle;
        line-height: 3em;
      }
