<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h2 style="text-decoration:underline; font-weight: bold;">Head Office</h2>
    <p>Address: <span>MZ-36, Gulberg Arcade, Main Market, Gulberg-II, Lahore - Pakistan</span></p>
    <p>Tel: <span>0092-423-5788008-20</span></p>
    <p>Fax: <span>0092 -423-5780010</span></p>
    <p>Web: <span>www.express-shipping.com</span></p>
    <p>Email: <span>info@express-shipping.com</span></p>
  </div>
   <div>
    <h2 style="text-decoration:underline; font-weight: bold;">Branch Office</h2>
    <p>Address: <span>Suite# 601, Hassan Chamber, Bhori pur Road, Karachi - Pakistan</span></p>
    <p>Tel: <span>0092-213-25345612</span></p>
    <p>Mobile: <span>0092-333-4699941</span></p>
   </div>

   <p > Office Hours : 9 AM - 5 PM (Monday - Friday)</p>

</ion-content>
