<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div>
    <h2 style="text-decoration:underline; font-weight: bold;">Head Office</h2>
    <ion-row>
    <ion-col size="4">
    <h3>Address</h3>
      </ion-col> 
      <ion-col size="2"><h3>: </h3> </ion-col> 
      <ion-col size="6">
        <p>MZ-36, Gulberg Arcade, Main Market, Gulberg-II, Lahore - Pakistan</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
    <h3>Tel </h3>
    </ion-col>
    <ion-col size="2"><h3>:</h3> </ion-col>
    <ion-col size="6">
      <p>0092-423-5788008-20</p> </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
    <h3>Fax</h3></ion-col>
    <ion-col size="2"><h3>:</h3></ion-col>
     <ion-col size="6"><p>0092 -423-5780010</p></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
    <h3>Web</h3></ion-col>
    <ion-col size="2"><h3>:</h3></ion-col>
     <ion-col size="6"><p>www.express-shipping.com</p> </ion-col> 
    </ion-row>


    <ion-row>
      <ion-col size="4">
    <h3>Email</h3></ion-col>
    <ion-col size="2"><h3>:</h3></ion-col>
     <ion-col size="6"> <span>info@express-shipping.com</span></ion-col>
    </ion-row>
  </div>
   <div>
    <h2 style="text-decoration:underline; font-weight: bold;">Branch Office</h2>

    <ion-row>
      <ion-col size="4">
    <h3>Address</h3></ion-col>
    <ion-col size="2"><h3>:</h3></ion-col>
     <ion-col size="6"><p>Suite# 601, Hassan Chamber, Bhori pur Road, Karachi - Pakistan</p></ion-col> 
    </ion-row>

    <ion-row>
    <ion-col size="4">
    <h3>Tel </h3> </ion-col>
    <ion-col size="2"><h3>:</h3></ion-col>
    <ion-col size="6"><p>0092-213-25345612</p></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
    <h3>Mobile </h3></ion-col>
    <ion-col size="2"><h3>:</h3></ion-col>
    <ion-col size="6"> <p>0092-333-4699941</p></ion-col>
    </ion-row>
   </div>

   <ion-row>
     <ion-col size="4">
   <h3> Office Hours </h3> </ion-col>
   <ion-col size="2"><h3>:</h3></ion-col>
   <ion-col size="6"> <p> 9 AM - 5 PM (Monday - Friday) </p> </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
