<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div>
      <h2
        style="
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
        "
      >
        Head Office
      </h2>
      <ion-row>
        <ion-col size="3">
          <p>Address</p>
        </ion-col>
        <ion-col size="1"><p>:</p> </ion-col>
        <ion-col size="8">
          <p>
            MZ-36, Gulberg Arcade, Main Market, Gulberg-II, Lahore - Pakistan
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <p>Tel</p>
        </ion-col>
        <ion-col size="1"><p>:</p> </ion-col>
        <ion-col size="8"> <p>0092-423-5788008-20</p> </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3"> <p>Fax</p></ion-col>
        <ion-col size="1"><p>:</p></ion-col>
        <ion-col size="8"><p>0092 -423-5780010</p></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3"> <p>Web</p></ion-col>
        <ion-col size="1"><p>:</p></ion-col>
        <ion-col size="8"
          ><p>
            <a href="www.express-shipping.com">www.express-shipping.com</a>
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3"> <p>Email</p></ion-col>
        <ion-col size="1"><p>:</p></ion-col>
        <ion-col size="8">
          <span
            ><a href="mailto:info@express-shipping.com"
              >info@express-shipping.com</a
            ></span
          ></ion-col
        >
      </ion-row>
    </div>
    <div>
      <h3
        style="
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
        "
      >
        Director
      </h3>
      <ion-row>
        <ion-col>
          <p>
            Muhammad Nisar<br />
            +92-333-4545554 <br />
            <a href="mailto:nisar@express-shipping.com"
              >nisar@express-shipping.com</a
            >
          </p>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <h3
        style="
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
        "
      >
        Manager Operations
      </h3>
      <ion-row>
        <ion-col>
          <p>
            Tahir Ali Khan<br />
            +92-333-4699941 <br />
            <a href="mailto:tahir@express-shipping.com"
              >tahir@express-shipping.com</a
            >
          </p>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <h3
        style="
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
        "
      >
        Accounts/Finance
      </h3>
      <ion-row>
        <ion-col>
          <p>
            Muhammad Abrar<br />
            +92-333-4699939 <br />
            <a href="mailto:accounts@express-shipping.com"
              >accounts@express-shipping.com</a
            >
          </p>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <h2
        style="
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
        "
      >
        Branch Office
      </h2>

      <ion-row>
        <ion-col size="3"> <p>Address</p></ion-col>
        <ion-col size="1"><p>:</p></ion-col>
        <ion-col size="8"
          ><p>
            Suite# 601, Hassan Chamber, Bhori pur Road, Karachi - Pakistan
          </p></ion-col
        >
      </ion-row>

      <ion-row>
        <ion-col size="3"> <p>Contact</p> </ion-col>
        <ion-col size="1"><p>:</p></ion-col>
        <ion-col size="8"><p>Umair Fazal</p></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3"> <p>Tel</p></ion-col>
        <ion-col size="1"><p>:</p></ion-col>
        <ion-col size="8"> <p>+92-321-2104603</p></ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col size="3"> <b>Office Hours</b> </ion-col>
      <ion-col size="1"><b>:</b></ion-col>
      <ion-col size="8"> <b>9 AM - 5 PM (Monday - Friday)</b> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
