<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-label position="stacked">
    Username
  </ion-label>
  <ion-input type="text"></ion-input>
</ion-card>

<ion-card>
  <ion-label position="stacked">
    Password
  </ion-label>
  <ion-input type="password"></ion-input>
</ion-card>

<ion-button (click)="login()" expand="block" style="--background:navy;" type="submit">Login</ion-button>
</ion-content>
