ion-content {
    --background: url('../../../assets/bgimage3.jpeg') repeat;
 }
 ion-item {
    --background: url('../../../assets/bgimage3.jpeg') repeat;
 }

 ion-input {
    --background-color: red;
 }

 .new-background-color{
   --background: navy;
}
