<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Tools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="background-color: darkgray;">
      <p>
      ESL Profile
    </p>
    </ion-row>
    <ion-row (click)="goToAbout()" style="background-color: lightgray;">
      <p> About ESL
      </p>
    </ion-row>
    <ion-row (click)="goToCalc()" style="background-color: darkgray;">
     <p>CBM Calculator</p> 
    </ion-row>
    <ion-row (click)="goToContainer()" style="background-color: lightgray;">
     <p>Container Specification</p>  
    </ion-row>
    <ion-row (click)="goToFeedback()" style="background-color: darkgray;">
     <p> Feedback </p>
    </ion-row>
    <ion-row (click)="goToContact()" style="background-color: lightgray;">
      <p> Contact Us
      </p>
    </ion-row>
    <ion-row (click)="goToTerms()" style="background-color: darkgray;">
      <p> Terms And Conditions
      </p>
    </ion-row>
  </ion-grid>

</ion-content>
