ion-content {
    --background: url('../../assets/bgimage3.jpeg') repeat;

  }

  .new-background-color{
    --background: navy;
}



ion-row:nth-of-type(odd)
 {
     background-color: lightgrey;
     width: 100%;
    }
