<ion-header [translucent]="true" style="background-color: navy;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="font-size: large; font-weight: 900; font:bold; text-align: center;">Headlines from ESL</p>
  <ion-grid *ngFor="let article of data?.data">
    <ion-row>
      
  
  <ion-col size="4">
      <div style="font-size: 15px;">{{article.title}}
      </div>
  </ion-col>
  <ion-col size="8">
     <div [innerHTML]="article.desc | linkify"> {{article.desc | linkify}}
    </div>
  </ion-col>    
 

</ion-row>


</ion-grid>
</ion-content>
