<ion-header [translucent]="true" style="background-color: navy;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <p style="font-size: large; font-weight: 900; font:bold; text-align: center;">Headlines from ESL</p>
  
  <ion-grid *ngFor="let article of data?.data">
    <ion-row>
    
      <ion-card>
        <ion-card-header>
        <p style="font-size: 15px; color: navy; font-weight: bold; font-style: italic;">{{article.title}}
        </p>
      </ion-card-header>
     
    
      <ion-card-content>
        <div [innerHTML]="article.desc | linkify"> {{article.desc | linkify}}
        </div>
      </ion-card-content>
     
    </ion-card>
 

</ion-row>


</ion-grid>
</ion-content>
