<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Pak Shaheen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>CFS - Karachi</h2>
<p>Avenue, Keamari, Town Karachi – Pakistan.</p>
<p>Email: info@pscs-psg.com</p>
<p>Tel: (+92-21)32851800-5</p>
<p>Facsimile: (+92-21) 3285190</p>
<p>UAN : (+92-21) 111-725-742</p>

<br>

<h2>Empty Container Park JSY</h2>
<p>Plot no 12-13-14-15 Jungle Shah Empty Depot,</p>
<p>Keamari, Town Karachi – Pakistan.</p>
<p>Email: info@pscs-psg.com</p>
<p>Tel: (+92-21)32851800-5</p>
<p>Facsimile: (+92-21) 3285190</p>

<br>

<h2>CFS - Port Qasim</h2>
<p>B-1,N.W.I.Z,CFS village, port Muhammad Bin Qasim, Karachi – Pakistan</p>
<p>Email: info@pscs-psg.com</p>
<p>Tel: (+92-21) 34720220-1  (+92-21)37420230-3</p>
<p>Facsimile : (+92-21)34720228</p>
</ion-content>
