<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">About ESL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <h2 style="text-decoration:underline;">Commitment & Experience</h2>
  <p>Our strength is our strategic positioning in the dynamic markets of the China, Middle East, South East Asia, India and Africa. Our network and understanding of these key trading and commercial centers means that we can provide world class services to our customers.</p>
  <p></p>
</div>
<div>
  <h2 style="text-decoration:underline;">Our Vision</h2>
  <p>To become a recognized industry leader in our chosen markets, through strong professionalism, superior quality, a passionate and responsive approach to customers needs.</p>
</div>
<div>
  <h2 style="text-decoration:underline;">Our Team</h2>
  <p>Express Shipping & Logistics has an extensive team of multinational and experienced shipping professionals in place, who are committed to individual customer solutions and ensuring quality in whatever we do.</p>
</div>
<div>
  <h2 style="text-decoration:underline;">Long Term View</h2>
  <p>In a growing world of standardization, Emirates Shipping Line prides itself as a responsive organization with individually adapted solutions.</p>
  <p>Our strategy takes a long term view in a patently cyclical business, by making a clear and powerful commitment to the growth of transportation business into and out of the Middle East, Indian subcontinent, China, South East Asia and Africa.</p>
  <p>Personalized attention, responsive organization and prompt decision-making further ensures customer intimacy and understanding.</p>
</div>
</ion-content>
