<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Container</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      20' ft Standard Container 
    </ion-card-header>
    <ion-card-content>
      <h3>
      Max. Gross: 23,956 KGS 52,915 lbs
    </h3>
    <h3>
      Tare: 2,229 KGS 4,976 lbs
    </h3>
    <h3>
      Max. PayLoad: 21,727 KGS 47,999 lbs
    </h3>
    <img src="../../../assets/20ft.PNG">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      40' ft Standard Container 
    </ion-card-header>
    <ion-card-content>
      <h3>
      Max. Gross: 30,480 KGS 67,200 lbs
    </h3>
    <h3>
      Tare: 3,780 KGS 8,330 lbs
    </h3>
    <h3>
      Max. PayLoad: 26,700 KGS 85,870 lbs
    </h3>
    <img src="../../../assets/40ft.PNG">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      40' HC High Cube Container  
    </ion-card-header>
    <ion-card-content>
      <h3>
      Max. Gross: 30,480 KGS 67,200 lbs
    </h3>
    <h3>
      Tare: 4,020 KGS 8,860 lbs
    </h3>
    <h3>
      Max. PayLoad: 26,460 KGS 58,340 lbs
    </h3>
    <img src="../../../assets/40hc.PNG">
    </ion-card-content>
  </ion-card>

</ion-content>
