<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Container</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      20' ft Standard Container 
    </ion-card-header>
    <ion-card-content>
        <ion-row>
          <ion-col size="4"> 
      <h3>
      Max. Gross: </h3> </ion-col>
      <ion-col size="4"> <h3> 23,956 KGS </h3> </ion-col>
      <ion-col size="4">  <h3>52,915 lbs </h3>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4"> 
<h3>
Tare: </h3> </ion-col>
<ion-col size="4"> <h3> 2,229 KGS </h3> </ion-col>
<ion-col size="4">  <h3>4,976 lbs </h3>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size="4"> 
<h3>
Max. Payload: </h3> </ion-col>
<ion-col size="4"> <h3> 21,727 KGS </h3> </ion-col>
<ion-col size="4">  <h3>47,999 lbs </h3>
</ion-col>
</ion-row>
    <img src="../../../assets/20ft.PNG">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      40' ft Standard Container 
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="4"> 
    <h3>
    Max. Gross: </h3> </ion-col>
    <ion-col size="4"> <h3> 30,480 KGS </h3> </ion-col>
    <ion-col size="4">  <h3>67,200 lbs </h3>
    </ion-col>
</ion-row>
<ion-row>
  <ion-col size="4"> 
<h3>
Tare: </h3> </ion-col>
<ion-col size="4"> <h3> 3,780 KGS </h3> </ion-col>
<ion-col size="4">  <h3>8,330 lbs </h3>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="4"> 
<h3>
Max. Payload: </h3> </ion-col>
<ion-col size="4"> <h3> 26,700 KGS </h3> </ion-col>
<ion-col size="4">  <h3>85,870 lbs </h3>
</ion-col>
</ion-row>
    <img src="../../../assets/40ft.PNG">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      40' HC High Cube Container  
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="4"> 
    <h3>
    Max. Gross: </h3> </ion-col>
    <ion-col size="4"> <h3> 30,480 KGS </h3> </ion-col>
    <ion-col size="4">  <h3>67,200 lbs </h3>
    </ion-col>
</ion-row>
<ion-row>
  <ion-col size="4"> 
<h3>
Tare: </h3> </ion-col>
<ion-col size="4"> <h3> 4,020 KGS </h3> </ion-col>
<ion-col size="4">  <h3>8,860 lbs </h3>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="4"> 
<h3>
Max. Payload: </h3> </ion-col>
<ion-col size="4"> <h3> 26,460 KGS </h3> </ion-col>
<ion-col size="4">  <h3>58,340 lbs </h3>
</ion-col>
</ion-row>
    <img src="../../../assets/40hc.PNG">
    </ion-card-content>
  </ion-card>

</ion-content>
