<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll="false">
  <div style="margin-top: 10%; margin-bottom: 10%;">
    <br />
    <img
      src="../../assets/dashboard.png"
      width="100%"
      style="
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5%;
        padding-right: 5%;
      "
      alt=""
    />
    <br />
    <br />
    <br />
  </div>
  <div style="background-color: #389ab3; height: 50px; color: white;">
    <p style="text-align: center; vertical-align: middle; line-height: 50px;">
      Welcome to Express Shipping & Logistics
    </p>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col style="margin-left: 10%; margin-top: 10%; margin-bottom: 10%;">
          <ion-thumbnail (click)="goToBooking()">
            <img src="../../assets/1.png" />
          </ion-thumbnail>
          <ion-label style="font-size: small;">Booking</ion-label>
        </ion-col>

        <ion-col style="margin-left: 5%; margin-top: 10%; margin-bottom: 10%;">
          <ion-thumbnail (click)="goToTracking()">
            <img src="../../assets/2.png" />
          </ion-thumbnail>
          <ion-label>Tracking</ion-label>
        </ion-col>

        <ion-col style="margin-left: 5%; margin-top: 10%; margin-bottom: 10%;">
          <ion-thumbnail>
            <img (click)="goToRates()" src="../../assets/3.png" />
          </ion-thumbnail>
          <ion-label style="margin-left: 10%;">Rates</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="margin-left: 10%; margin-bottom: 10%;">
          <ion-thumbnail>
            <img (click)="goToNews()" src="../../assets/4.png" />
          </ion-thumbnail>
          <ion-label>Advisory</ion-label>
        </ion-col>

        <ion-col style="margin-left: 5%; margin-bottom: 10%;">
          <ion-thumbnail (click)="goToVessel()">
            <img src="../../assets/5.png" />
          </ion-thumbnail>
          <ion-label>Vessel Info</ion-label>
        </ion-col>

        <ion-col style="margin-left: 5%; margin-bottom: 10%;">
          <ion-thumbnail (click)="goToTools()">
            <img src="../../assets/6.png" />
          </ion-thumbnail>
          <ion-label style="margin-left: 10%;">Tools</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer style="background-color: #389ab3;">
  <p style="color: white; text-align: center; font-size: x-small;">
    2020 Express Shipping & Logistics 1.1.0
  </p>
</ion-footer>
