ion-item {
    --background: url('../../assets/bgimage3.jpeg') repeat;
 }

 ion-content {
    --background: url('../../assets/bgimage3.jpeg') repeat;
 }

 form {
    background-color: lightgrey;
}

.new-background-color{
    --background: navy;
}

ion-input {
    background-color: white;
}

ion-textarea {
    background-color: white;
}


