<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bookingForm" (ngSubmit)="newBooking()">
    <ion-grid>
      <ion-item style="--highlight-height: 0;">
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Name <span style="color: red;">*</span></ion-label
        >
        <ion-input required formControlName="name"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Phone Number <span style="color: red;">*</span></ion-label
        >
        <ion-input required type="number" formControlName="phone"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Equipment
        </ion-label>
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="equip"
          [(ngModel)]="equip"
          placeholder="Select One"
        >
          <ion-select-option value="tf">20ft</ion-select-option>
          <ion-select-option value="ff">40ft</ion-select-option>
          <ion-select-option value="fh">40HC</ion-select-option>
          <ion-select-option value="AIR">AIR</ion-select-option>
          <ion-select-option value="LCL">LCL</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="equip === 'AIR' || equip === 'LCL'">
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Volume</ion-label
        >

        <ion-input formControlName="vol"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Terms</ion-label
        >
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="terms"
          placeholder="Select One"
        >
          <ion-select-option value="C">CNF</ion-select-option>
          <ion-select-option value="F">FOB</ion-select-option>
          <ion-select-option value="E">ExWorks</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >BL Mentioned</ion-label
        >
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="BLmentioned"
          placeholder="Select One"
        >
          <ion-select-option value="P">Prepaid</ion-select-option>
          <ion-select-option value="C">Collect</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item-divider> </ion-item-divider>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Trade Lane</ion-label
        >
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="tradeLane"
          placeholder="Select One"
        >
          <ion-select-option value="I">Import</ion-select-option>
          <ion-select-option value="E">Export Select</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Port Of Loading</ion-label
        >
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="pol"
          placeholder="Select One"
        >
          <ion-select-option
            *ngFor="let data of data?.pols"
            value="{{data?.name}}"
            >{{data?.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Port Of Discharge</ion-label
        >
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="pod"
          placeholder="Select One"
        >
          <ion-select-option
            *ngFor="let data of data?.pods"
            value="{{data?.name}}"
            >{{data?.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item-divider></ion-item-divider>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Supplier Details</ion-label
        >
        <ion-textarea formControlName="supplierDetails"> </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >CNEE Details</ion-label
        >
        <ion-textarea formControlName="CNEEdetails"> </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Notify/CNEE</ion-label
        >
        <ion-textarea formControlName="notifyCNEE"> </ion-textarea>
      </ion-item>

      <ion-item-divider></ion-item-divider>

      <ion-item
        ><ion-label style="margin-bottom: 5%;" position="stacked"
          >Desp/Commodity</ion-label
        >
        <ion-textarea formControlName="cmdty"> </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Gross Weight (KGS)</ion-label
        >
        <ion-input type="number" formControlName="grossWeight"> </ion-input>
      </ion-item>

      <ion-item-divider></ion-item-divider>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Encashment Certificate</ion-label
        >
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="encashmentCert"
          placeholder="Select One"
        >
          <ion-select-option value="C">Available</ion-select-option>
          <ion-select-option value="F"
            >Pay Encashment Charges</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >FTA Certificate</ion-label
        >
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="ftaCert"
          placeholder="Select One"
        >
          <ion-select-option value="C">YES (Required)</ion-select-option>
          <ion-select-option value="F">Not Required</ion-select-option>
          <ion-select-option value="F">Not Confirmed Yet</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Certificate Of Origin(COO)</ion-label
        >
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="certOfOrigin"
          placeholder="Select One"
        >
          <ion-select-option value="C">YES (Required)</ion-select-option>
          <ion-select-option value="F">Not Required</ion-select-option>
          <ion-select-option value="F">Not Confirmed Yet</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Export License (Origin)</ion-label
        >
        <ion-select
          okText="Select"
          cancelText="Cancel"
          formControlName="exportLiscense"
          placeholder="Select One"
        >
          <ion-select-option value="C">YES (Required)</ion-select-option>
          <ion-select-option value="F">Not Required</ion-select-option>
          <ion-select-option value="NFC">Not Confirmed Yet</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item-divider> </ion-item-divider>

      <ion-item style="margin-bottom: 10%;">
        <ion-label style="margin-bottom: 5%;" position="stacked"
          >Any Other Requirement (Please mention below)</ion-label
        >
        <ion-textarea
          formControlName="comments"
          placeholder="write here.."
        ></ion-textarea>
      </ion-item>
      <ion-button style="--background: navy;" expand="block" type="submit"
        >Submit</ion-button
      >
    </ion-grid>
  </form>
</ion-content>
