<ion-header  >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bookingForm" (ngSubmit)="newBooking()">
  <ion-grid>
    <ion-row>
      <ion-col size="5" >
        <p style="font-weight: bold;">
        Description
      </p>
      </ion-col>

      <ion-col size="7">
       <p style="font-weight: bold;">
        Information
      </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Customer Name
        </p>
      </ion-col>

      <ion-col size="7">
        <ion-textarea formControlName="name">  </ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Phone Number
        </p>
      </ion-col>

      <ion-col size="7">
        <ion-input type="number" formControlName="phone">  </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Equipment
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select okText="select" cancelText="" formControlName="equip" [(ngModel)]="equip" placeholder="Select One">
            <ion-select-option value="tf">20ft</ion-select-option>
            <ion-select-option value="ff">40ft</ion-select-option>
            <ion-select-option value="fh">40HC</ion-select-option>
            <ion-select-option value="AIR">AIR</ion-select-option>
            <ion-select-option value="LCL">LCL</ion-select-option>
          </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-row *ngIf="equip === 'AIR' || equip === 'LCL'">
      <ion-col size="5" >
        <p  style=" vertical-align: middle; line-height: 20px;"> Volume
        </p>
      </ion-col>

      <ion-col size="7">
        <ion-textarea formControlName="vol">  </ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Terms
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select formControlName="terms" placeholder="Select One">
            <ion-select-option value="C">CNF</ion-select-option>
            <ion-select-option value="F">FOB</ion-select-option>
            <ion-select-option value="E">ExWorks</ion-select-option>
          </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> BL Mentioned
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select formControlName="BLmentioned" placeholder="Select One">
            <ion-select-option value="P">Prepaid</ion-select-option>
            <ion-select-option value="C">Collect</ion-select-option>
            
          </ion-select>
       
      </ion-col>
    </ion-row>
    <ion-item-divider>
    </ion-item-divider>
    
    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Trade Lane
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select formControlName="tradeLane" placeholder="Select One">
            <ion-select-option value="I">Import</ion-select-option>
            <ion-select-option value="E">Export Select</ion-select-option>
            
          </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Port Of Loading
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select formControlName="pol" placeholder="Select One">
            <ion-select-option *ngFor="let data of data?.pols" value="{{data?.name}}">{{data?.name}}</ion-select-option>
            
          </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Port of Discharge
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select formControlName="pod" placeholder="Select One">
            <ion-select-option *ngFor="let data of data?.pods" value="{{data?.name}}">{{data?.name}}</ion-select-option>
          </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Supplier Details
        </p>
      </ion-col>

      <ion-col size="7">
        <ion-textarea formControlName="supplierDetails">  </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> CNEE Details
        </p>
      </ion-col>

      <ion-col size="7">
        <ion-textarea formControlName="CNEEdetails">  </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Notify/CNEE
        </p>
      </ion-col>

      <ion-col size="7">
        <ion-textarea formControlName="notifyCNEE">  </ion-textarea>
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Desp/Commodity
        </p>
      </ion-col>

      <ion-col size="7">
        <ion-textarea formControlName="cmdty">  </ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Gross Weight(KGS)
        </p>
      </ion-col>

      <ion-col size="7">
        <ion-input type="number" formControlName="grossWeight">  </ion-input>
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Encashment Certificate
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select formControlName="encashmentCert" placeholder="Select One">
            <ion-select-option value="C">Available</ion-select-option>
            <ion-select-option value="F">Pay Encashment Charges</ion-select-option>
          </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> FTA Certificate
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select formControlName="ftaCert" placeholder="Select One">
            <ion-select-option value="C">YES (Required)</ion-select-option>
            <ion-select-option value="F">Not Required</ion-select-option>
            <ion-select-option value="F">Not Confirmed Yet</ion-select-option>
          </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Certificate of Origin (COO)
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select formControlName="certOfOrigin" placeholder="Select One">
            <ion-select-option value="C">YES (Required)</ion-select-option>
            <ion-select-option value="F">Not Required</ion-select-option>
            <ion-select-option value="F">Not Confirmed Yet</ion-select-option>
          </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" >
        <p style=" vertical-align: middle; line-height: 20px;"> Export License (Origin)
        </p>
      </ion-col>

      <ion-col size="7">
        
          <ion-select formControlName="exportLiscense" placeholder="Select One">
            <ion-select-option value="C">YES (Required)</ion-select-option>
            <ion-select-option value="F">Not Required</ion-select-option>
            <ion-select-option value="F">Not Confirmed Yet</ion-select-option>
          </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-item-divider>
      <label style="font-size: small;">Any Other Requirement (Please mention below)</label>
    </ion-item-divider>
    
    <ion-textarea formControlName="comments" placeholder="write here.."></ion-textarea>

    <ion-button style="--background:navy;" expand="block" type="submit">Submit</ion-button>
    </ion-grid>
  </form>
</ion-content>
