<ion-header [translucent]="true" style="background-color: yellowgreen;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="5" style="background-color: yellowgreen;">
        Description
      </ion-col>

      <ion-col size="7" style="background-color: yellowgreen;">
        Information
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" style="background-color: yellowgreen;">
        Customer Name
      </ion-col>

      <ion-col size="7" style="background-color: yellowgreen;">
        <ion-input> </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" style="background-color: yellowgreen;">
        Description
      </ion-col>

      <ion-col size="7" style="background-color: yellowgreen;">
        Information
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" style="background-color: yellowgreen;">
        Description
      </ion-col>

      <ion-col size="7" style="background-color: yellowgreen;">
        Information
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" style="background-color: yellowgreen;">
        Description
      </ion-col>

      <ion-col size="7" style="background-color: yellowgreen;">
        Information
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
